template
    toolbar
    drawer(view-model.ref="drawer")
        div(slot="header")
            div
                a ${user.username} 
            div.header-action
                a(click.delegate="logout()") 
                    i.material-icons eject
                    | logout
        nav.mdc-list(slot="contents")
            // Drawer
            div(if.bind="drawer.expanded").mdc-list-group(repeat.for="row of router.navigation" click.delegate="hide()")
                h3.mdc-list-group__subheader ${row.title} 
                    i(show.bind="shouldExpand(row)").material-icons expand_less 
                ul.mdc-list--dense(if.bind="shouldExpand(row)")
                    li.mdc-list-item(
                        repeat.for="subroute of children(parentRoutes, row.config.name)"
                        class="${subroute.isActive ? 'mdc-list-item--selected' : ''}"
                    ) 
                        a(href.bind="subroute.href") ${subroute.title}
                        
            // Minified menu
            a(
                if.bind="!drawer.expanded"
                repeat.for="row of router.navigation"
                href.bind="row.href"
                class="${row.isActive ? 'mdc-list-item--selected' : ''}"
            ).mdc-list-item
                i.material-icons.mdc-list-item__graphic(aria-hidden='true') ${row.settings.icon}

        main(slot="main")
            router-view