template
    toolbar
    drawer(view-model.ref="drawer")
        div(slot="header")
            div
                a ${user.username} 
            div.header-action
                a(click.delegate="logout()") 
                    i.material-icons eject
                    | logout
        nav.mdc-list(slot="contents")
            // Drawer
            div.mdc-list-group(if.bind="drawer.expanded" repeat.for="row of router.navigation")
                h3.mdc-list-group__subheader.mdc-list-item
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') ${row.settings.icon}
                    a.mdc-list-item__text ${row.title}
                    i.mdc-list-item__meta.material-icons.sunshower-toggler(show.bind="shouldExpand(row)"
                        click.delegate="toggle($index)") expand_less
                .mdc-list--dense(if.bind="shouldExpand(row)" ref="parents[$index]" style="display:none;")
                    .mdc-list-item(
                        repeat.for="subroute of children(parentRoutes, row.config.name)"
                        class="${subroute.isActive ? 'mdc-list-item--selected' : ''}"
                        click.delegate="navigate(row.href, subroute.name)"
                    ) 
                        .mdc-list-item__text ${subroute.title}
                        
            // Minified menu
            a(
                if.bind="!drawer.expanded"
                repeat.for="row of router.navigation"
                href.bind="row.href"
                class="${row.isActive ? 'mdc-list-item--selected' : ''}"
            ).mdc-list-item
                i.material-icons.mdc-list-item__graphic(aria-hidden='true') ${row.settings.icon}

        main(slot="main")
            router-view