template
    toolbar
    drawer(view-model.ref="drawer")
        div(slot="header")
            div.header-info
                a(click.delegate="logout()" title="logout" aria-label="logout" role="link")
                    i.la.la-fw.la-eject.mdc-list-item__graphic
                a ${user.username}
            div.header-action
                //todo textfield
        nav.mdc-list(slot="contents")
            // Drawer
            div.mdc-list-group(if.bind="drawer.expanded" repeat.for="row of router.navigation")
                h3.mdc-list-group__subheader.mdc-list-item
                    i.la.la-fw.mdc-list-item__graphic(aria-hidden='true' class.bind="row.settings.icon")
                    a.mdc-list-item__text ${row.title}
                    i.mdc-list-item__meta.la.la-fw.sunshower-toggler(show.bind="shouldExpand(row)"
                    click.delegate="toggle($index)" class.bind="iconClass")
                .mdc-list--dense(if.bind="shouldExpand(row)" ref="parents[$index]" style="display:none;")
                    .mdc-list-item(
                    repeat.for="subroute of children(parentRoutes, row.config.name)"
                    class="${subroute.isActive ? 'mdc-list-item--selected' : ''}"
                    click.delegate="navigate(row.href, subroute.name)"
                    )
                        .mdc-list-item__text ${subroute.title}

            // Minified menu
            a(
            if.bind="!drawer.expanded"
            repeat.for="row of router.navigation"
            href.bind="row.href"
            class="${row.isActive ? 'mdc-list-item--selected' : ''}"
            ).mdc-list-item
                i.la.la-fw.mdc-list-item__graphic(aria-hidden='true' class.bind="row.settings.icon")

        main(slot="main")
            router-view