template
    toolbar
    drawer
        div(slot="header")
            div 
                a ${user.username} 
            div    
                a(click.delegate="logout()") Logout
        nav.mdc-list(slot="contents")
            a(
                repeat.for="row of router.navigation" 
                href.bind="row.href" 
                class="${row.isActive ? 'mdc-list-item--selected' : ''}"
            ).mdc-list-item
                i.material-icons.mdc-list-item__graphic(aria-hidden='true', ) ${row.settings.icon}
                | ${row.title} 
        main(slot="main")    
            router-view