template
    h2(t="welcome.login.signupHeader")
    form(submit.delegate="signup()" autocomplete="off")
        text-field(
            type="text" 
            value.bind="request.username", 
            t="[label]welcome.login.username"
        )
        text-field(
            type="text"
            value.bind="request.emailAddress",
            t="[label]welcome.login.emailAddress"
        )
        text-field(
            type="password" 
            value.bind="request.password", 
            t="[label]welcome.login.password"
        )
        div.sunshower-button-holder
            p(if.bind="message") ${message}
            button(type="submit" t="welcome.login.submit")
    //p
    //    a(t="welcome.login.docsLink")
    p
        a(href="#login" t="welcome.login.loginLink")